<div id="content-wrapper">
    <div id="streams" class="modal in" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-m" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Streams</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Please input name for the streams.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="stream-items"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn-save-streams" type="button" value="Save" class="btn btn-primary" onclick="fl.save()" />
                    <input id="btn-cancel-streams" type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>